<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Hybrid Automation Suite" parallel="methods" thread-count="3">
    <listeners>
        <listener class-name="com.example.listeners.TestListener"/>
        <listener class-name="com.example.listeners.RetryListener"/>
    </listeners>

    <test name="Web Tests">
        <groups>
            <run>
                <include name="web"/>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="com.example.tests.web.LoginTest"/>
            <class name="com.example.tests.web.RegistrationTest"/>
        </classes>
    </test>

    <test name="API Tests">
        <groups>
            <run>
                <include name="api"/>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="com.example.tests.api.UserApiTest"/>
        </classes>
    </test>
</suite>